/* button.module.css */
.buttonGlobal {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    font-weight: 600;
    outline: none;
    outline-offset: 2px;
    cursor: pointer;
  }
/*   
  .buttonGlobal:focus-visible {
    outline: 1px solid transparent;
    outline-offset: 2px;
  }
   */
  .buttonGlobal:disabled {
    opacity: 0.5;
    cursor: default;
  }
  
  .buttonGlobalfullWidth {
    width: 100%;
  }
  
  .buttonGlobalSecondayElse {
    background-color: #60a5fa;

    color: #f5f1f1;
  }
  
  .buttonGlobalSecondary {
    color: #4b5563;
  }
  
  .buttonGlobal.bg-sky-500 {
    background-color: #60a5fa;
  }
  
  .buttonGlobal.bg-sky-600:hover {
    background-color: #3b82f6;
  }
  
  .buttonGlobal.focus-visible\:outline-sky-600:focus-visible {
    outline: 2px solid #3b82f6;
  }
  
  .buttonGlobalDanger {
    background-color: #e70202;
  }
  
  .buttonGlobalDanger:hover {
    background-color: #ef4444;
  }
  
  .buttonGlobalPrimary:hover {
    background-color: #3b82f6;
  }
  
  /* .buttonGlobal.focus-visible {
    outline: 2px solid #83da09;
  } */
   